/* Layout */
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header and footer, content listing */
.header,
.footer {
  padding: 20px 0;
  text-align: center;
  background: #eee;
}

.machines-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: bold;
}

/* Counter */
.counter {
  text-align: center;
  font-size: 1.4em;
}

/* Machines */
.machine {
  border-bottom: 1px solid #fdfdfd;
  font-size: 2rem;
  padding: 1rem 0;
  color: #aaa;
  text-transform: uppercase;
  font-weight: 600;
}

.react-toggle {
  margin-left: 1rem;
}

.machine.active {
  color: #19AB27;
}

.btn {
  background: #2196f3;
  color: #fff;
  border-radius: 1em;
  padding: .5em 1em;
  margin-left: 1em;
}

.btn:hover {
  background-color: #1e88e5;
  cursor: pointer;
}

/* Formulaire d'ajout */
.add-machine-form {
  background-color: #f3f3f3;
  padding: 30px;
  text-align: center;
  margin: 20px auto;
  font-size: 1.4em;
}

.add-machine-form input,
.add-machine-form select {
  background-color: #eaeaea;
  padding: 4px 6px;
  margin-right: 10px;
}